// Layout
@import '../../../styles/variables';
@import '../../../styles/utils';

$appHeight: 100vh;
$leftBlockWidth: 1000px;

#game {
  display: flex;

  #left-block {
    flex: 2;
    max-width: $leftBlockWidth;
    height: $appHeight;
  }

  #right-block {
    flex: 1;
    height: $appHeight;
    overflow-y: auto;
  }
}

#teddy {
  z-index: 999;
  position: fixed;
  left: 0;
  top:0;
  bottom:0;
  right: 0;
  background: #FEE;
  padding: 50px;

  textarea {
    width: 80%;
    height: 400px;
  }
}