// Layout
@import '../../../styles/variables';
@import '../../../styles/utils';

#game {
  display: flex;
  background: url('../../../assets/img/floor.png') no-repeat;
  background-position: bottom center;
  background-size: 100% ($appHeight - $wallHeight); 

  #left-block {
    flex: 1.5;
    max-width: $leftBlockWidth;
    height: $appHeight;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .wall-wrapper {
      //height: $wallHeight;
      wall {
        margin-top: calc((#{$wallHeight} - #{$wallRatio}) / 2);
      }
    }

    .wall-center {
      border: solid 2px blue;
    }

    hud {
      height: ($appHeight - $wallHeight);
    }
  }

  #right-block {
    flex: 1;
    height: $appHeight;
    overflow: hidden;
  }
}

#teddy {
  z-index: 999;
  position: fixed;
  left: 0;
  top:0;
  bottom:0;
  right: 0;
  background: #FEE;
  padding: 50px;

  textarea {
    width: 80%;
    height: 400px;
  }
}