// Colors
$elemHover: #F6EB70;
$elemSelected: #F00;
$elemCorrect: #0F0;
$buttonBGC: #00284D;
$buttonBG: rgba($buttonBGC, 0.4);
$buttonHBG: rgba($buttonBGC, 0.25);
$hudBG: rgba(#FFF, 0.8);
$speakTo: #FFF;
$speakToShadow: #0E0E74;
$overlayBG: rgba(#FFF, 0.9);
$fullgauge: #00a4ff;
$dangergauge: #ff2f00;

// Sizes

// Times
$fast: 0.2s;
$medium: 0.5s;

// Sizes
$UIMargin: 3.4vh;
$appHeight: 100vh;
$leftBlockWidth: 1200px;
$wallHeight: 80vh;
$wallRatio: 31vw;
$hudHeight: 11.1vh;
$pad: 2vh;
