$icon-bottle_m: 0px 0px 21px 168px;
$icon-bottle_s: 0px -168px 37px 168px;
$icon-bottle_e: 0px -336px 201px 175px;
$icon-floor: 0px -511px 1300px 270px;
$icon-splashscreen: 0px -781px 809px 308px;
$icon-background: 0px -1089px 1300px 936px;

@mixin sprite-width($sprite) {
  width: nth($sprite, 3);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 4);
}

@function sprite-width($sprite) {
  @return nth($sprite, 3);
}

@function sprite-height($sprite) {
  @return nth($sprite, 4);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 1);
  $sprite-offset-y: nth($sprite, 2);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite($sprite) {
  @include sprite-position($sprite);
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

.icon-bottle_m {
  @include sprite($icon-bottle_m);
  background-image: url('../sprites/sprite-base.png');
}

.icon-bottle_s {
  @include sprite($icon-bottle_s);
  background-image: url('../sprites/sprite-base.png');
}

.icon-bottle_e {
  @include sprite($icon-bottle_e);
  background-image: url('../sprites/sprite-base.png');
}

.icon-floor {
  @include sprite($icon-floor);
  background-image: url('../sprites/sprite-base.png');
}

.icon-splashscreen {
  @include sprite($icon-splashscreen);
  background-image: url('../sprites/sprite-base.png');
}

.icon-background {
  @include sprite($icon-background);
  background-image: url('../sprites/sprite-base.png');
}

