//
@import '../../../styles/variables';
@import '../../../styles/utils';

wall {
  width: 100%;
  padding-bottom: $wallRatio;
  display: block;
  position: relative;
  max-width: 53vw;
  margin: 0 auto;

  #elements-wrapper {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .element {
    position: absolute;
    transition: filter $medium, opacity $slow;
    cursor: pointer;
    opacity: 1;
  }

  .hidden {
    opacity: 0;
  }

  .element:hover {
    @include drop-shadow($elemHover);
  }

  .element.selected {
    @include drop-shadow($elemSelected);
  }

  .element.correct {
    @include drop-shadow($elemCorrect);
  }

  .clickthrough {
    pointer-events: none;
  }
}