//
@import '../../../styles/variables';


@mixin drop-shadow($color) {
  $size: 12px;
  $offset: 0px;
  filter: drop-shadow($offset $offset $size $color);
  -webkit-filter: drop-shadow($offset $offset $size $color);
}

wall {
  .elements-wrapper {
    position: relative;
    width: 100%;
    height: 100vh;
  }
  .element {
    position: absolute;
    transition: filter $medium;
  }

  .element:hover {
    @include drop-shadow($elemHover);
  }

  .element.selected {
    @include drop-shadow($elemSelected);
  }
}