//
@import '../../../styles/variables';


@mixin drop-shadow($color) {
  $size: 8px;
  $offset: 0px;
  filter: drop-shadow($offset $offset $size $color);
  -webkit-filter: drop-shadow($offset $offset $size $color);
}

wall {
  width: 100%;
  padding-bottom: 66%;
  display: block;
  position: relative;

  #elements-wrapper {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .element {
    position: absolute;
    transition: filter $medium;
    cursor: pointer;
  }

  .element:hover {
    @include drop-shadow($elemHover);
  }

  .element.selected {
    @include drop-shadow($elemSelected);
  }

  .element.correct {
    @include drop-shadow($elemCorrect);
  }

  .clickthrough {
    pointer-events: none;
  }
}