<div id="overlay" *ngIf="activate">
  <div *ngIf="!currentSequence">
    <h1>{{'title' | translate}}</h1>
    <div>
      <button (click)="startGame()">Start</button>
      <div><span (click)="changeLang('fr')">fr</span> | <span (click)="changeLang('en')">en</span></div>
    </div>
  </div>
  <div *ngIf="currentSequence" class="page">
    <markdown [data]="gameService.gameData[currentSequence].content"></markdown>
    <div class="button-wrapper">
      <button *ngFor="let choice of gameService.gameData[currentSequence].childrenNames" (click)="goSequence(choice.goal)">{{choice.translate ? (choice.link | translate) : choice.link}}</button>
    </div>
    <div class="bottom-line"></div>
  </div>
</div>