<div id="hud">
  <div class="inventory">
    <div *ngFor="let elem of gameService.gameState.elements" class="element" (click)="unpickElem(elem)">
      <img [src]="elem.img" width="80%"/>
    </div>
  </div>
  <div class="oxygen-tank">
    <div class="oxygen-wrapper" *ngIf="displayOxygen">
      <div class="decorator">
        <span class="img start"></span>
        <span class="img mid"></span>
        <span class="img end"></span>
      </div>
      <div class="gauge">
        <div class="inner" [style.width]="gameService.gameState.oxygen + '%'" [ngClass]="{danger: gameService.gameState.oxygen < 40}"></div>
      </div>
    </div>
  </div>
</div>