//
@import '../../../styles/variables';
@import '../../../styles/utils';

hud {
  display: block;
}

#hud {
  display:flex;
  height: 100%;

  .oxygen-tank {
    flex: 1;
  }

  .inventory {
    flex: 1.8;
    line-height: ($appHeight - $wallHeight);

    .element {
      cursor: pointer;
      display: inline-block;
      width: 25%;
      vertical-align: middle;

      @include drop-shadow($elemHover);
    }
  }
}