//
witnesses {
  $witSize: 100px;
  $rightBlockMargin: 2vh;
  $pad: 25px;

  .witnesses-inner {
    padding: $rightBlockMargin;

    .witness-selection, .testimony {
      background: #FFFFFFAA;
      padding: $pad;
    }
  }

  #selection-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .witness-selection {
    p {
      margin-bottom: 0;
    }
  }

  .witness {
    cursor: pointer;
    flex: 1;
    display: inline-block;
    background: #FFF;
    max-width: $witSize;
  }

  .testimony {
    min-height: 50vh;
    margin-top : $rightBlockMargin;

    p {
      margin: 0;
    }
  }

}