//
@import '../../../styles/variables';
@import '../../../styles/utils';

witnesses {
  $witSize: 11vh;

  .witnesses-inner {
    padding: $UIMargin;
    opacity: 1;
    transition: opacity $slow;

    .witness-selection, .testimony, hud {
      background: $hudBG;
      padding: $pad;
    }
  }

  #selection-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .witness-selection {
    margin-top: $UIMargin + 1vh;
    height: $hudHeight;
    position: relative;
    opacity: 1;
    transition: opacity $slow;
    p {
      margin: 0;
      position: absolute;
      top: -$UIMargin;
      left: 0;
      color: $speakTo;
      text-align: center;
      width: 100%;
      font-weight: 600;
      font-size: 1.3em;
      @include drop-shadow($speakToShadow);
    }
  }

  .witness {
    cursor: pointer;
    flex: 1;
    display: inline-block;
    max-width: $witSize;
    max-height: $witSize;
    transition: box-shadow $fast;
  }

  .testimony {
    overflow-y: auto;
    opacity: 1;
    transition: opacity $slow;

    height: $appHeight - 3 * $UIMargin - 4 * $pad - $hudHeight;

    p {
      margin: 0;
    }

    .choice-wrapper {
      margin-top: 40px;
      margin-bottom: 15px;
    }

    button {
      width: 100%;
      height: 30px;
      margin: 10px auto;
      display: block;
    }
  }
  
  .hide {
    opacity: 0;
  }


  .selected {
    box-shadow: 0px 0px 28px 1px #00A4FF;
  }

}