//
witnesses {
  $witSize: 100px;

  #selection-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .witness {
    flex: 1;
    display: inline-block;
    background: #FFF;
    max-width: $witSize;
  }
}